<%= errorMessage %>
<form method="POST" action="/login">
  <div>Username <input type="text" name="username"></div>
  <div>Password <input type="password" name="password"></div>
  <div><input type="submit"></div>
</form>