<form method="POST" action="/update">
  <div>title<input type="text" name="title" value="<%= article.title %>"></div>
  <div>content<textarea type="text" name="content"><%= article.content %></textarea></div>
  <input type="submit">
</form>